
@{
    ViewData["Title"] = "Acceso Denegado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center flex-column">
    <h1 class="text-danger">Acceso Denegado</h1>
<h3>No estas autorizado para ver este Recurso.</h3>
</div>

